---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2022&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_koErhJfyKCLRnGI5QB69x7zc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1Cj338Ama8RRGxBXzAcXqFog",
          "object": "token",
          "card": {
            "id": "card_1Cj338Ama8RRGxBXMtraNL3k",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2022,
            "fingerprint": "4jQG0MMkMBqnkFk7",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "103.91.120.165",
          "created": 1530441898,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sun, 01 Jul 2018 10:44:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: source=tok_1Cj338Ama8RRGxBXzAcXqFog&email=andreane.ohara%40lakin.co&plan=plan_D9HPPgRVT7nM5V
    headers:
      Authorization:
      - Bearer sk_test_koErhJfyKCLRnGI5QB69x7zc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "param": "",
            "type": "card_error"
          }
        }
  recorded_at: Sun, 01 Jul 2018 10:45:00 GMT
recorded_with: VCR 2.9.3
