---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: source=tok_1CizZhAma8RRGxBXvTHMkhzd&email=john%40example.com&plan=plan_D9HPPgRVT7nM5V
    headers:
      Authorization:
      - Bearer sk_test_koErhJfyKCLRnGI5QB69x7zc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_D9IAEeGR00lz21",
          "object": "customer",
          "account_balance": 0,
          "created": 1530428544,
          "currency": "usd",
          "default_source": "card_1CizZhAma8RRGxBXqqR69ROJ",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "john@example.com",
          "invoice_prefix": "0E1D3E6",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1CizZhAma8RRGxBXqqR69ROJ",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_D9IAEeGR00lz21",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2022,
                "fingerprint": "kPZZo9yIJLGbZr5v",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_D9IAEeGR00lz21/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_D9IA9QhWBGZRB3",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1530428544,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1530428544,
                "current_period_end": 1533106944,
                "current_period_start": 1530428544,
                "customer": "cus_D9IAEeGR00lz21",
                "days_until_due": null,
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_D9IA7b0RfC5AIW",
                      "object": "subscription_item",
                      "created": 1530428544,
                      "metadata": {},
                      "plan": {
                        "id": "plan_D9HPPgRVT7nM5V",
                        "object": "plan",
                        "active": true,
                        "aggregate_usage": null,
                        "amount": 999,
                        "billing_scheme": "per_unit",
                        "created": 1530425747,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "nickname": "Base",
                        "product": "prod_D9HOpyjgsaaNiY",
                        "tiers": null,
                        "tiers_mode": null,
                        "transform_usage": null,
                        "trial_period_days": null,
                        "usage_type": "licensed"
                      },
                      "quantity": 1,
                      "subscription": "sub_D9IA9QhWBGZRB3"
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_D9IA9QhWBGZRB3"
                },
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "plan_D9HPPgRVT7nM5V",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 999,
                  "billing_scheme": "per_unit",
                  "created": 1530425747,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "nickname": "Base",
                  "product": "prod_D9HOpyjgsaaNiY",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "start": 1530428544,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_D9IAEeGR00lz21/subscriptions"
          }
        }
  recorded_at: Sun, 01 Jul 2018 07:02:25 GMT
recorded_with: VCR 2.9.3
