---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: source=tok_1CizZaAma8RRGxBX93vr1JQ4&email=john%40example.com&plan=plan_D9HPPgRVT7nM5V
    headers:
      Authorization:
      - Bearer sk_test_koErhJfyKCLRnGI5QB69x7zc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-05-21'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "param": "",
            "type": "card_error"
          }
        }
  recorded_at: Sun, 01 Jul 2018 07:02:18 GMT
recorded_with: VCR 2.9.3
